body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;

  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
  height: 100vh;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#1e293b;
  color:white;
  padding:12px 20px;
}

.logout-btn{
  background:#ef4444;
  border:none;
  color:white;
  padding:6px 12px;
  cursor:pointer;
  border-radius:6px;
}

.container{
  padding:25px;
}

input{
  padding:8px;
  margin:5px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  padding:8px 14px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background:#2563eb;
  color:white;
}

ul{
  margin-top:20px;
  padding:0;
}

li{
  list-style:none;
  background:white;
  margin-bottom:10px;
  padding:10px;
  border-radius:8px;
  box-shadow:0px 2px 6px rgba(0,0,0,0.1);
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card{
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0px 5px 15px rgba(0,0,0,0.15);
  width:280px;
  text-align:center;
}
